.skin-1
  .text-color
    color: red!important
  .border-color
    border-color: red!important
  .bg-color
    background-color: red!important

.skin-2
  .text-color
    color: yellow!important
  .border-color
    border-color: yellow!important
  .bg-color
    background-color: yellow!important

.skin-3
  .text-color
    color: green!important
  .border-color
    border-color: green!important
  .bg-color
    background-color: green!important
